:root {
  --padding-sm: 8px;
  --padding-md: 12px;
  --padding-lg: 16px;
  --padding-xlg: 24px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 70px 1fr 70px;
}

.container .header {
  display: flex;
  align-items: center;
  border: 1px black solid;
  padding: var(--padding-sm);
}

.main {
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 60px;
  flex-direction: column;
}

.main .board-container {
  display: flex;
}

.board-container .board-border {
  flex: 1;
  border: 1px solid black;
  display: flex;
  padding: var(--padding-xlg);
  padding-left: calc(var(--padding-xlg) * 3);
  padding-right: calc(var(--padding-xlg) * 3);
}

.menu-border {
  flex: 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: var(--padding-sm);
}

.board-border .board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  flex: 1;
}

.board .cell {
  border: 1px solid black;
  cursor: pointer;
}

.cell.occupied {
  background-color: green;
}

.cell.missed {
  background-color: gray;
}

.cell.destroyed {
  background-color: red;
}
